link(rel="stylesheet" type="text/css" href="/css/partials/navbar.css")
div#top-header
    div#website-title Frances's Website 
        #version v1.0

div#left-navbar
    a.navbar-page(href="/" id="home-page") Home
    |
    a.navbar-page(href="/projects" id="projects-page") My Projects
    |
    a.navbar-page(href="/guestbook" id="guestbook-page") Guestbook
    |
    a.navbar-page(href="/about" id="about-this-website") About
    |

//- after importing navbar.pug, other pug must have a parallel div#main