link(rel="stylesheet" type="text/css" href="/css/partials/navbar.css")
#top-header
    div#website-title Frances's Website 
        #version v1.0

#left-navbar
    a.navbar-page(href="/" id="home-page") Home
    |
    a.navbar-page(href="/projects" id="projects-page") My Projects
    |
    a.navbar-page(href="/guestbook" id="guestbook-page") Guestbook
    |
    a.navbar-page(href="/about" id="about-this-website") About
    |

    #left-navbar-icons
        a(href="https://github.com/FrancesF6" target="_blank")
            img.navbar-icon-img(src="/images/github.png")
        a(href="https://leetcode.com/FrancesF6" target="_blank")
            img.navbar-icon-img(src="/images/leetcode.png")

//- after importing navbar.pug, other pug must have a parallel div#main