html(lang="en")
    head
        meta(charset="UTF-8")
        title Home | Frances's Website
        link(rel="stylesheet" type="text/css" href="/css/index.css")
        link(rel="icon" href="/images/mainIcon.png")

    body
        include ./partials/navbar

        div#main
            h1#greeting Hello, I am 
                #name Frances Fang
            h3#my-info 
                | I am currently an undergraduate student at Carleton University in Ottawa, Canada,
                br
                | pursuing a Bachelor's Degree of Computer Science.
            h3#purpose
                | I use this website to show my personal projects and programming progress.
            h3#some-links
                a(href="https://leetcode.com/FrancesF6/" target="_blank") My Leetcode personal page
                br
                a(href="https://github.com/FrancesF6" target="_blank") My GitHub personal page
        
        script.
            document.getElementById("home-page").classList.add("chosen-page");
