.project {
    padding: 5px;
    margin: 0px 10px 50px 10px;
    border: 4px dotted black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    position: relative;
}


.project .label {
    padding: 10px;
    font-weight: bold;
}

.project .label-url, .project .label-time {
    padding: 10px;
    font-weight: bold;
    position: absolute;
    left: 50%;
}

.project .label-url {
    top: 4;
}

.project .label-time {
    top: 45;
}

.project .label-time {
    position: absolute;
    left: 50%;
    top: 45;
}


.project .url {
    display: inline;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: normal;
    color: royalblue;
}

.project .name, .project .language, .project .time , .project .about{
    display: inline;
    font-weight: normal;
    color: rgb(60,90,170);
}

.project .description, .project .details {
    display: none;   /*not display initially*/
    font-family: 'Georgia', serif;
    padding: 0px 10px 10px 10px;
    line-height: 25px;
    color: rgb(60,90,170);
}

.list {
    list-style-type: circle;
    margin: 5px;
    padding-left: 25px;
}

.demo {
    display: none;   /*not display initially*/
    flex-flow: row wrap;
    /* display: flex; */
    /* justify-content: center; */
}

.expand, .collapse {
    background: none;
    border: none;
    padding: 10px;
    display: block;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
}

.demo-pic {
    max-width: 170px;
    margin: 10px;
    cursor: pointer;
}

#demo-modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 76px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

#modal-close, #modal-previous, #modal-next {
    position: absolute;
    color: #f1f1f1;
    font-family: monospace;
    font-size: 50px;
    transition: 0.3s;
}

#modal-close {
    right: 35px;
}

#modal-previous {
    left: 80px;
    top: 40%;
}

#modal-next {
    right: 80px;
    top: 40%;
}

#modal-close:hover, #modal-close:focus,
#modal-previous:hover, #modal-previous:focus,
#modal-next:hover, #modal-next:focus {
    color: #bbb;
    cursor: pointer;
}

#modal-pic {
    position: relative;
    top: -30px;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: calc(100% - 120px);
    width: auto;
    height: auto;
    cursor: zoom-in;
}

#modal-caption {
    position: relative;
    top: -20px;
    text-align: center;
    color: #ccc;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: larger;
}

#modal-pic, #modal-caption {
    animation-name: zoom;
    animation-duration: 0.5s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
