body {
    max-width: 1200px;
    margin: auto;
    background-image: url("/images/main-bg.png");
    /* Thanks to Andy Holmes https://unsplash.com/photos/rCbdp8VCYhQ */
    background-size: 100%;
}

#top-header {
    position: sticky;
    top: 0;
    height: 45px;
    padding: 15px 20px 15px 20px;
    z-index: 2;
    background: black;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#website-title {
    color: antiquewhite;
}

#version {
    display: inline;
    font-size: medium;
    font-weight: normal;
}

#left-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 200px;
    height: calc(100% - 50px);
    padding: 10px 10px 10px 20px;
    z-index: 1;
    background: floralwhite;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-page {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 15px;
    color: rgb(25,25,112);
    text-decoration: none;
}

.navbar-page:hover, .chosen-page {
    color: rgb(65,105,225);
    text-shadow: 0 0 1px rgba(30,145,255,0.5);
    font-weight: bold;
}

.chosen-page:after {
    position: absolute;
    left: 200px;
    content: ">";
}


/* in other pug, not navbar.pug */
#main {
    margin-left: 230px;
    padding: 20px 60px;
    min-height: calc(100% - 116px);
    height: max-content;
    background: white;
}